@model Product;

<div class="row">
	<div class="col-6">
		<img class="card-img-top" src="@Model.Link">
	</div>
	<div class="col-6">
			<h6>@Model.Name</h6>
			<h5>@Model.Cost руб.</h5>
			<p style="font-size:12px">@Model.Description</p>
			<a class="btn btn-outline-dark" href="#" role="button">Добавить в корзину</a>
			<a class="btn btn-outline-dark" href="/home/index" role="button">Продолжить покупки</a>
		</div>	
</div>