@model UserDeliveryInfoViewModel;

<div class="container">
    <main>
        <div class="py-3 text-center">
            <img class="d-block mx-auto mb-4" src="/images/Index/mainIcon.png" alt="иконка" width="72" height="57">
            <h2>Форма оформления заказа</h2>
            <p class="lead">Пожалуйста заполните форму заказа. Обязательные поля для заполнения обозначены *</p>
        </div>

        <div class="d-flex justify-content-center">
            <form method="post">
                <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" name="UserIdentityName" value="@User.Identity.Name" />

                <div class="my-4">
                    <label asp-for="Name">ФИО*</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Фисенко Кирилл Андреевич" />
                    <span asp-validation-for="Name" />
                </div>

                <div class="my-4">
                    <label asp-for="Email">Email*</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" value="@User.Identity.Name" />
                    <span asp-validation-for="Email" />
                </div>

                <div class="my-4">
                    <label asp-for="Phone">Телефон*</label>
                    <input asp-for="Phone" type="text" class="form-control" placeholder="+7 (926) 546-3469" />
                    <span asp-validation-for="Phone" />
                </div>

                <div class="my-4">
                    <label asp-for="Address">Адрес*</label>
                    <input asp-for="Address" type="text" id="suggest" class="form-control" placeholder="г. Москва, ул. Тверская, д. 1" />
                    <span asp-validation-for="Address" />
                </div>                

                <input type="button" class="btn btn-outline-warning" value="показать карту" id="toggle" />

                <div id="map" class="my-2" style="width: 500px; height: 300px"></div>

                <button class="btn btn-lg btn-warning my-4" type="submit" asp-controller="Order" asp-action="Buy"><i class="bi bi-check-circle-fill"> Оформить заказ</i></button>
                <a class="btn btn-lg btn-outline-warning my-4" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Продолжить покупки</i></a>
            </form>
        </div>
    </main>
</div>

@* автоматическое дополнение адреса при вводе и отображение на карте *@
<script>
    ymaps.ready(init);
    function init() {
        var myMap;
        var suggestView1 = new ymaps.SuggestView("suggest");

        $('#toggle').bind({
            click: function () {
                var searchControl = new ymaps.control.SearchControl({
                    options: {
                        noSelect: true
                    }
                });
                if (!myMap) {
                    myMap = new ymaps.Map('map', {
                        center: [55.76, 37.64],
                        zoom: 8
                    });

                    ymaps.geocode(document.getElementById("suggest").value, {
                        results: 1
                    }).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0),
                            coords = firstGeoObject.geometry.getCoordinates(),
                            bounds = firstGeoObject.properties.get('boundedBy');

                        firstGeoObject.options.set('preset', 'islands#darkBlueDotIconWithCaption');
                        firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

                        myMap.geoObjects.add(firstGeoObject);
                        myMap.setBounds(bounds, {
                            checkZoomRange: true
                        });
                    });

                    $("#toggle").attr('value', 'Скрыть карту');
                }
                else {
                    myMap.destroy();
                    myMap = null;
                    $("#toggle").attr('value', 'Показать карту');
                }
            }
        });
    }
</script>