<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/images/About/About.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ProPC</h1>
            <p class="lead">
                Компания “ProPC” была основана в 2015 году группой энтузиастов, увлеченных компьютерными технологиями. Наша миссия - предоставить нашим клиентам высококачественные комплектующие для ПК, которые помогут им создавать и развивать свои собственные компьютерные системы.                         
                Спасибо за то, что выбрали нашу компанию! Мы надеемся, что наше сотрудничество будет долгим и плодотворным.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-outline-warning my-xl-3" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-90deg-left"> Перейти к покупкам</i></a>
            </div>
        </div>
    </div>
</div>
