@model List<Product>;
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	@foreach (var product in Model)
	{
		<div class="col-3 card shadow-lg">
			<img class="card-img-top" src="@product.Link">
			<div class="card-body">
				<a style="color:navy" href="/product/index/@product.Id">
					<h6>@product.Name</h6>
				</a>
				<h5>@product.Cost руб.</h5>
				<p style="font-size:10px">@product.Description</p>
				<a class="btn btn-outline-dark" href="#" role="button">Добавить в корзину</a>
			</div>
		</div>
	}
</div>


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
