@model List<RoleViewModel>;

<div class="row">

    <div class="col-lg-3">
        <div class="my-4">
            @await Html.PartialAsync("MenuAdministrator")
        </div>
    </div>

    <div class="col-lg-9 my-4">

        <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="Role" asp-action="Add"><i class="bi bi-database-add"> Добавить роль</i></a>

        @if (Model.Count() == 0)
        {
            <div class="text-center my-xl-5">
                <h3 class="bg-warning-subtle text-emphasis-warning ">Список ролей пуст</h3>
            </div>
        }
        else
        {
            <div class="my-4">
                <p class="text-end text-danger">*удалить роль Admin и User нельзя</p>
                <h4 class="bg-warning-subtle text-emphasis-warning">Список ролей</h4>                              
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Имя роли</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td class="text-end">
                                    @if (role.Name != "Admin" && role.Name != "User")
                                    {
                                        <a class="btn btn-warning" asp-area="Admin" asp-controller="Role" asp-action="Remove" asp-route-name="@role.Name"><i class="bi bi-trash-fill"> Удалить роль</i></a>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-warning" disabled><i class="bi bi-trash-fill"> Удалить роль</i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>