<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Order" asp-action="Index"><i class="bi bi-cart4"></i> Заказы</a>
	<a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="User" asp-action="Index"><i class="bi bi-people"></i> Пользователи</a>
	<a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Role" asp-action="Index"><i class="bi bi-person-gear"></i> Роли</a>
	<a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="bi bi-basket2"></i> Продукты</a>
</div>