<div class="col-2 list-group-flush">
    <a class="list-group-item" asp-area="Admin" asp-controller="Order" asp-action="Index"><i class="bi bi-cart4"></i>Заказы</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="User" asp-action="Index"><i class="bi bi-people"></i>Пользователи</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Role" asp-action="Index"><i class="bi bi-person-gear"></i>Роли</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="bi bi-basket2"></i>Продукты</a>
</div>