html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.textId {
    font-size: 12px;
    color: #808080;
}

.textDescription {
    font-size: 14px;
    color: #696969;
}

.titleName {
    color: #000000;
    text-decoration: none;
    font-weight: 500;   
}

.price {
    color: #DAA520
}