@model List<Product>;

<div class="row">
    <table>
        <tr>
            <td>Название товара</td>
            <td>Количество товара</td>
            <td>Цена товара</td>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@Model.Count(x => x == product)</td>
                <td>@product.Cost руб.</td>
            </tr>
        }
        <tr>
            <td></td>
            <td><b>Общая сумма:</b></td>
            <td><b></b></td>
        </tr>
    </table>
    <p></p>
    <a class="btn btn-outline-dark" href="/home/index" role="button">Продолжить покупки</a>
    <a class="btn btn-outline-dark" href="#" role="button">Оформить заказ</a>
</div>