<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top sticky-bottom">
	<div class="container">
		<p class="col-md-4 mb-0 text-body-secondary">© 2023 ПАО ProPC, г. Москва, Проектируемый пр., д. 124 +7 (495) 548-85-54</p>		
	</div>
</footer>