<header class="p-3 bg-dark sticky-top">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-between">

			<div class="d-flex flex-wrap justify-content-center">
				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
					<li ><a asp-controller="Home" asp-area="" asp-action="Index" class="nav-link px-2 text-warning">Домашняя</a></li>
					<li><a asp-controller="Home" asp-area="" asp-action="Index" class="nav-link px-2 text-white">О Компании</a></li>
					<li><a asp-area="Admin" asp-area="Admin" asp-controller="Order" asp-action="Index" class="nav-link px-2 text-white">Администратор</a></li>
				</ul>
			</div>

			<div class="d-flex flex-wrap justify-content-center">
				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-inline-flex" role="search" method="post">
					<input name="name" type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Search">
					<button class="btn btn-dark" type="submit" asp-area="" asp-controller="Home" asp-action="Search"><i class="bi bi-search"></i></button>
				</form>

				<div class="text-end">
					<a type="button" class="btn btn-outline-light me-2" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
					<a type="button" class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
				</div>
			</div>

			<div class="d-flex flex-wrap justify-content-center">
				<ul class="nav col-12 col-lg-auto my-2 my-md-0 text-small text-center">
					<li>
						<a asp-area="" asp-controller="Favourites" asp-action="Index" class="nav-link text-white">
							<i class="bi d-block mx-auto mb-1 bi-heart"></i>
							Избранное
						</a>						
					</li>
					<li>
						<a asp-area="" asp-controller="Compare" asp-action="Index" class="nav-link text-white">
							<i class="bi d-block mx-auto mb-1 bi-clipboard2-plus"></i>
							Сравнение
						</a>
					</li>
					<li>
						<a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
							<i class="bi d-block mx-auto mb-1 bi-cart4"></i>
							Корзина
						</a>						
					</li>
				</ul>
			</div>			
		</div>
	</div>
</header>