<div class="list-group list-group-flush d-block position-static mx-0 shadow-lg">
	<a class="list-group-item list-group-item-action text-primary" asp-controller="Home" asp-action="Index">Все категории</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.Processors">Процессоры</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.Motherboards">Материнские платы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.VideoCards">Видеокарты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.HDD">HDD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.SSD">SSD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.ROM">Оперативная память</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.Enclosures">Корпуса</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.PowerSupplies">Блоки питания</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.CoolingSystems">Системы охлаждения</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.OpticalDrives">Оптические приводы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.SoundCards">Звуковые карты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.AccessoriesAndModding">Аксессуары и моддинг</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Category" asp-route-categories="@Сategories.Software">Программное обеспечение</a>
</div>