<div class="list-group list-group-flush">
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Все категории</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Процессоры</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Материнские платы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Видеокарты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">HDD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">SSD</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Оперативная память</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Корпуса</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Блоки питания</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Системы охлаждения</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Оптические приводы</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Звуковые карты</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Аксессуары и моддинг</a>
	<a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Программное обеспечение</a>
</div>