@model List<Basket>;

<div class="row">
	<table>
		<tr>
			<td>Название товара</td>
			<td>Количество товара</td>
			<td>Цена товара</td>
		</tr>
		@foreach (var basket in Model)
		{
			<tr>
				<td>@basket.ProductName</td>
				<td>@basket.ProductCount</td>
				<td>@basket.ProductCost руб.</td>
			</tr>
		}
	</table>
	<a class="btn btn-outline-dark" href="/home/index" role="button">Продолжить покупки</a>
</div>