@model ChangePassword
<form method="post">
    <h4>Смена пароля для пользователя @ViewData["userName"]</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>   
    <div class="row">
        <label asp-for="Password" class="col-sm-2 col-form-label">Новый пароль:</label><br />
        <div class="col-sm-8">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" />
        </div>
    </div>  
    <br />
    <div class="row">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label">Повторите новый пароль:</label><br />
        <div class="col-sm-8">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
    </div>
    <br />    
    <br />
    <br />
    <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-userId="@ViewData["userId"]">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="User" asp-action="Index">Отмена</a>
</form>