@model EditUserViewModel

<div class="row">
    <div class="col-lg-3">
        <div class="my-4">
            @await Html.PartialAsync("MenuAdministrator")
        </div>
    </div>

    <div class="col-lg-9 my-4">
        <form method="post">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <div class="row g-3">
                <h4 class="bg-warning-subtle text-emphasis-warning">Редактирование пользователя</h4>

                <div class="col-12">
                    <label asp-for="UserName">Email:</label>
                    <input asp-for="UserName" type="email" class="form-control" value="@Model.UserName" />
                    <span asp-validation-for="UserName" />
                </div>                

                <div class="col-12">
                    <label asp-for="Phone">Телефон:</label>
                    <input asp-for="Phone" type="text" class="form-control" value="@Model.Phone" />
                    <span asp-validation-for="Phone" />
                </div>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-warning my-4" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-name="@Model.UserName">Сохранить</button>
            <a class="w-100 btn btn-lg btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="Index">Отмена</a>

        </form>
    </div>
</div>