@model ForgotPasswordViewModel

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Сброс пароля</h1>
                <a type="button" class="btn-close" asp-controller="Home" asp-action="Index"></a>
            </div>
            <div class="modal-body p-5 pt-0">
                <form method="post">
                    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                        <label asp-for="Email">Введите Email</label>
                        <span asp-validation-for="Email" />
                    </div>                   
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-warning" type="submit" asp-controller="Account" asp-action="ForgotPassword">Сбросить</button>
                </form>
            </div>
        </div>
    </div>
</div>