@model Login

<form method="post">
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    <h4>Вход</h4>
    <br />
    <div class="row mb-3">
        <label asp-for="UserName" class="col-sm-1 col-form-label">Логин</label><br />
        <div class="col-sm-3">
        <input asp-for="UserName" type="email" class="form-control" />
        <span asp-validation-for="UserName" />
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-1 col-form-label">Пароль</label><br />
        <div class="col-sm-3">
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password" />
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-sm offset">
            <div class="form-check">
                <input name="rememberme" class="form-check-input" type="checkbox" id="rememberMe" value="true">
                <label class="form-check-label" for="rememberMe">
                    Запомнить меня?
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Login">Войти</button>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>    
</form>