<form method="post">    
    <h4>Вход</h4>
    <br />
    <div class="row mb-3">
        <label for="login" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-3">
            <input name="username" type="email" class="form-control" id="login" placeholder="Email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <input name="password" type="password" class="form-control" id="password" placeholder="*********">
        </div>
    </div>    
    <div class="row mb-3">
        <div class="col-sm offset">
            <div class="form-check">
                <input name="rememberme" class="form-check-input" type="checkbox" id="rememberMe" value="true">
                <label class="form-check-label" for="rememberMe">
                    Запомнить меня?
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Login">Войти</button>
    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>    
</form>