@model Login
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-4 shadow">
			<div class="modal-header p-5 pb-4 border-bottom-0">
				<h1 class="fw-bold mb-0 fs-2">Вход</h1>
				<a type="button" class="btn-close" asp-controller="Home" asp-action="Index"></a>
			</div>

			<div class="modal-body p-5 pt-0">
				<form method="post">
					<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
					<div class="form-floating mb-3">
						<input asp-for="UserName" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
						<label asp-for="UserName">Email</label>
						<span asp-validation-for="UserName" />
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
						<label asp-for="Password">Пароль</label>
						<span asp-validation-for="Password" />
					</div>

					<div class="mb-3">
						<a href="#">Забыли пароль?</a>
					</div>

					<button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit" asp-controller="Account" asp-action="Login">Войти</button>

					<div class="form-check mb-2">
						<input name="rememberme" class="form-check-input" type="checkbox" id="rememberMe" value="true">
						<label class="form-check-label" for="rememberMe">
							Запомнить меня?
						</label>
					</div>

					<h2 class="fs-5 mb-3 text-center">ИЛИ</h2>
					<a class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-warning" type="submit" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>

					<small class="text-body-secondary">Нажав кнопку "Зарегистрироваться", вы соглашаетесь с условиями использования.</small>

					<hr class="my-4">
					<h2 class="fs-5 fw-bold mb-3">Или используйте сторонний сервис</h2>
					<a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit" asp-controller="Home" asp-action="Index">
						<svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
						<i class="bi bi-google"> </i>Войти с помощью Google
					</a>
					<a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit" asp-controller="Home" asp-action="Index">
						<svg class="bi me-1" width="16" height="16"><use xlink:href="#github"></use></svg>
						<i class="bi bi-github"> </i>Войти с помощью GitHub
					</a>
				</form>
			</div>
		</div>
	</div>
</div>