@model Register
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalRegister">
	<div class="modal-dialog" role="document">
		<div class="modal-content rounded-4 shadow">
			<div class="modal-header p-5 pb-4 border-bottom-0">
				<h1 class="fw-bold mb-0 fs-2">Регистрация</h1>
				<a type="button" class="btn-close" asp-controller="Home" asp-action="Index"></a>
			</div>			

			<div class="modal-body p-5 pt-0">
				<form method="post" enctype="multipart/form-data">
					<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
					
					@* на какую страницу перейти после регистрации *@
					<input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
					
					<div class="form-floating mb-3">
						<input asp-for="UserName" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
						<label asp-for="UserName">Email*</label>
						<span asp-validation-for="UserName" />
					</div>

					<div class="form-floating mb-3">
						<input asp-for="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
						<label asp-for="Password">Пароль*</label>
						<span asp-validation-for="Password" />
					</div>

					<div class="form-floating mb-3">
						<input asp-for="ConfirmPassword" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
						<label asp-for="ConfirmPassword">Повторите пароль*</label>
						<span asp-validation-for="ConfirmPassword" />
					</div>		
					
					<div class="form-floating mb-3">
						<input asp-for="PhoneNumber" type="text" class="form-control rounded-3" id="floatingInput" placeholder="+79265463469">
						<label asp-for="PhoneNumber">Телефон*</label>
						<span asp-validation-for="PhoneNumber" />
					</div>	

					<div class="form-floating mb-3">
						<input asp-for="FirstName" type="text" class="form-control rounded-3" id="floatingInput" placeholder="Кирилл">
						<label asp-for="FirstName">Имя</label>
						<span asp-validation-for="FirstName" />
					</div>

					<div class="form-floating mb-3">
						<input asp-for="Address" type="text" class="form-control rounded-3" id="floatingInput" placeholder="г. Москва">
						<label asp-for="Address">Адресс</label>
						<span asp-validation-for="Address" />
					</div>					

					<div class="col-12 mb-3">
						<label>Загрузить аватар:</label>
						<input name="UploadedFile" class="form-control" type="file" />
					</div>

					<button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit" asp-controller="Account" asp-action="Register">Зарегистрироваться</button>
					
				</form>
			</div>
		</div>
	</div>
</div>