@model ResetPasswordViewModel

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Введите новый пароль</h1>
                <a type="button" class="btn-close" asp-controller="Home" asp-action="Index"></a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="post">
                    <input asp-for="Code" type="hidden" />
                    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" />
                    </div>

                    <div class="form-floating mb-3">
						<input asp-for="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
						<label asp-for="Password">Пароль*</label>
						<span asp-validation-for="Password" />
					</div>

					<div class="form-floating mb-3">
						<input asp-for="ConfirmPassword" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
						<label asp-for="ConfirmPassword">Повторите пароль*</label>
						<span asp-validation-for="ConfirmPassword" />
					</div>

                    <a class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-warning" type="submit" asp-controller="Account" asp-action="ResetPassword">Сбросить</a>
                </form>
            </div>
        </div>
    </div>
</div>