<div class="col-2 list-group-flush">
    <a class="list-group-item" asp-controller="administrator" asp-action="GetOrders"> <i class="bi bi-cart4"></i> Заказы </a>
    <a class="list-group-item" asp-controller="administrator" asp-action="GetUsers"> <i class="bi bi-people"></i> Пользователи </a>
    <a class="list-group-item" asp-controller="administrator" asp-action="GetRoles"> <i class="bi bi-person-gear"></i> Роли </a>
    <a class="list-group-item" asp-controller="administrator" asp-action="GetProducts"> <i class="bi bi-basket2"></i> Продукты </a>
</div>